/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(217, 165, 165);
  padding: 3rem;
  text-align: center;
}

html {
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.twoD-cube {
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 2rem;
  margin-top: 4rem;
  border: 2px dotted black;
}

.threeD-cube {
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 2rem;
  margin-top: 4rem;
  border: 2px dotted black;
}

h1 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  position: relative;
  left: 120px;
  top: 120px;
  animation: twoDanimation 2s linear 0 infinity;
}

.side {
  height: 105px;
  position: absolute;
  width: 105px;
}

.top-2d {
  background-color: gray;
  transform: rotate(-45deg) skew(15deg, 15deg);
}

.left-2d {
  background-color: lightgray;
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right-2d {
  background-color: darkgray;
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.cube-3D {
  animation: rotate 7000ms linear infinite;
  bottom: 0;
  height: 105px;
  left: 950px;
  margin: auto;
  position: absolute;
  transform-style: preserve-3d;
  right: 0;
  top: 50px;
  width: 105px;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
  }
}
.face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.front {
  background: #333;
  transform: translateZ(50px);
}

.back {
  background: #444;
  transform: translateZ(-50px);
}

.left {
  background: #555;
  transform: translateX(-50px) rotateY(90deg);
}

.right {
  background: #666;
  transform: translateX(50px) rotateY(90deg);
}

.top {
  background: #777;
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  background: #888;
  transform: translateY(50px) rotateX(90deg);
}/*# sourceMappingURL=style.css.map */